:root {
    --body-background: #f5f5ff;

}

.category {

    color: #fff;
    
    &-design { 
        background-color: #df7988;
    }
    &-economics { 
        background-color: #8ea885;
    }
    &-leadership { 
        background-color: #0177b8;
    }
    &-private { 
        background-color: #DB344B;
    }
    &-tech { 
        background-color: #2a9d8f;
    }
}

section.copyright a {
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid #000;
}