:root {
    --body-background: #f5f5ff;

}

.category-design { 
    color: #fff;
    background-color: #df7988;
}
.category-economics { 
    color: #fff;
    background-color: #8ea885;
}
.category-leadership { 
    color: #fff;
    background-color: #0177b8;
}
.category-private { 
    color: #fff;
    background-color: #DB344B;
}
.category-tech { 
    color: #fff;
    background-color: #2a9d8f;
}

section.copyright a {
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid #000;
}