{{- $ThemeVersion := "3.17.0" -}}
<footer class="site-footer">
    <section class="copyright">
        &copy; 
        {{ if and (.Site.Params.footer.since) (ne .Site.Params.footer.since (int (now.Format "2006"))) }}
            {{ .Site.Params.footer.since }} - 
        {{ end }}
        {{ now.Format "2006" }} {{ .Site.Title }}
        {{- $currentLanguageCode := .Language.Lang -}}
        <a href="{{ relLangURL "imprint" }}" style="margin-left: 8px; padding-left: 8px; border-left: 1px solid #000;">{{ T "footer.imprint" }}</a>
    </section>
    
    <section class="powerby">
        {{ with .Site.Params.footer.customText }}
            {{ . | safeHTML }} <br/>
        {{ end }}

    </section>
</footer>
